local-config.php
bower_components
node_modules
DS_Store
local-config.php
sql-dump-*.sql
.DS_Store
wp-config.php
.wp-cli
wp-content/uploads
wp-content/logs


## docker
html
.composer
.docker/mariadb/data
.npm-cache
.npm
.ssh
.config
.yarn
.cache
.gnupg
.vscode-server
.vscode
.bash_history
.bashrc
.gitconfig
.yarnrc
.local
.vs
.vs-liveshare-keychain
.git-credentials
.npm
.nano